<div class="complete-wrapper">
    <div class="container">
        <div class="complete-title">
            Thank you for your submission.
        </div>
        <div class="complete-subtitle">
            This is just a test site. You may view what you have submitted in Console of the browser when clicking "Submit" in Review Page.
        </div>
        <div class="button-wrapper">
            <button type="button" (click)="home()" class="custom-btn">Home</button>
        </div>
    </div>
</div>