@import '/src/assets/scss/colors.scss';

.review-wrapper {
    margin-top: 50px;
    margin-bottom: 50px;

    .section-title {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .item-wrapper {
        margin-bottom: 10px;

        .review-label {
            font-size: 14px;
            font-weight: 500;
            color: grey;
        }

        .review-value {
            font-size: 14px;
            line-height: 25px;
            font-weight: 500;
            margin-top: -3px;
        }

        &.hobbies-row {
            .review-value {
                margin-top: 3px;
            }
            .hobby-item {
                display: inline-block;
                background-color: #0031b4;
                color: white;
                margin-right: 5px;
                margin-bottom: 5px;
                padding: 0px 10px;
                border-radius: 5px;
                font-size: 12px;
            }
        }
    }

    .custom-btn.submit {
        border-color: #4bb543;
        background-color: #4bb543;

        &:hover {
            border-color: #0f8f06;
            background-color: #0f8f06;
        }
    }
}