<div class="personal-details-wrapper">
    <div class="container">
        <app-progress-steps></app-progress-steps>
        <div class="page-title">Personal Details</div>
        <form [formGroup]="personalDetailsForm">
            <div class="form-group">
                <label for="introduction">Self Introduction<span>*</span></label>
                <textarea formControlName="introduction" id="introduction" class="form-control"></textarea>
                <div *ngIf="personalDetailsInfo['introduction'].invalid && personalDetailsInfo['introduction'].touched" class="text-danger">Self Introduction is required.</div>
            </div>

            <div class="form-group">
                <label>Hobbies</label>
                <div class="hobby-input">
                    <input class="form-control" type="text" (keyup.enter)="addHobby(hobbyInput.value)" #hobbyInput>
                    <button type="button" class="custom-btn" (click)="addHobby(hobbyInput.value)">Add</button>
                </div>
                <div class="hint">You may hit "Enter" key to add after typing.</div>
                <div formArrayName="hobbies">
                    <div *ngFor="let hobby of hobbies.controls; let i = index" class="hobby-item">
                        <span>{{ hobby.value }}</span>
                        <button type="button" (click)="removeHobby(i)"><fa-icon [icon]="faXmark"></fa-icon></button>
                    </div>
                </div>
            </div>

            <ngx-loading [show]="isLoading" [config]="config"></ngx-loading>
            <div class="button-wrapper">
                <button type="button" (click)="previousStep()" class="custom-btn" [disabled]="isLoading || personalDetailsForm.invalid">Back</button>
                <button type="button" (click)="nextStep()" class="custom-btn" [disabled]="isLoading || personalDetailsForm.invalid">Next</button>
            </div>
        </form>
    </div>
</div>